<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="bootstrap.php"
	cacheDirectory=".phpunit.cache"
	colors="true"
	testdox="true"
	failOnRisky="true"
	failOnWarning="true"
	failOnEmptyTestSuite="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnSkippedTests="true">
	<testsuites>
		<testsuite name="smoke">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
